<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Validación de Edad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro de Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <!-- Nombre -->
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input
          type="text"
          name="nombre"
          [(ngModel)]="usuario.nombre"
          required>
        </ion-input>
      </ion-item>

      <!-- Apellido -->
      <ion-item class="ion-margin-top">
        <ion-label position="floating">Apellido</ion-label>
        <ion-input
          type="text"
          name="apellido"
          [(ngModel)]="usuario.apellido"
          required>
        </ion-input>
      </ion-item>

      <!-- Fecha nacimiento -->
      <ion-item class="ion-margin-top">
        <ion-label position="floating">Fecha de nacimiento</ion-label>
        <ion-input
          type="date"
          name="fechaNacimiento"
          [(ngModel)]="usuario.fechaNacimiento"
          required
          (ionChange)="calcularEdad()">
        </ion-input>
      </ion-item>

      <!-- Mensaje de error -->
      <ion-text color="danger" *ngIf="edad !== null && edad < 18">
        <p>Debe ser mayor o igual a 18 años.</p>
      </ion-text>

      <!-- Botón -->
      <ion-button
        expand="block"
        class="ion-margin-top"
        type="submit"
        [disabled]="formulario.invalid || (edad !== null && edad < 18)">
        REGISTRAR
      </ion-button>

    </ion-card-content>
  </ion-card>

</form>


</ion-content>
